# Xcode
.DerivedData/
DerivedData/
build/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Fastlane output
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
